{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cyborg/bootstrap.min.css" integrity="sha384-nEnU7Ae+3lD52AK+RGNzgieBWMnEfgTbRHIwEvp1XXPdqdO6uLTd/NwXbzboqjc2" crossorigin="anonymous">
{% endblock %}


{% block title %}
Password Generator
{% endblock %}
{% block content %}
<div class="container">
    <div class="hero my-3">
        <h1 class="display-1 font-weight-bold">
            Password Generator
        </h1>
    </div>
    <div class="forms my-3">
        <form action="{{ url_for('hash') }}" method="POST">
            {{ form.csrf_token }}
            <div class="row">
                <div class="col">
                    {{ wtf.form_field(form.masterpassword) }}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {{ wtf.form_field(form.username) }}
                </div>
                <div class="col">
                    {{ wtf.form_field(form.website) }}
                </div>
            </div>
            <div class="row my-3">
                <div class="col">
                    {{ wtf.form_field(form.numbers) }}
                    {{ wtf.form_field(form.special_chars) }}
                    {{ wtf.form_field(form.password_length) }}
                </div>
            </div>
            <div class="row" id="length_field" style="display: none;">
                <div class="col-6">
                    {{ wtf.form_field(form.password_length_min) }}
                </div>
                <div class="col-6">
                    {{ wtf.form_field(form.password_length_max) }}
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
<script>
    function valueChanged() {
        if ($('#password_length').is(":checked"))
            $("#length_field").show();
        else
            $("#length_field").hide();
    }
</script>
{% endblock %}
